<header>
  <h1 class='exercise-tile__name'>
    {{exercise.name}}
  </h1>
</header>

<img class='exercise-tile__background' src={{exercise.image}} />

<div class='exercise-tile__details'>
  <p class='exercise-tile__description'>
    {{exercise.description}}
  </p>
</div>
