@import 'reset';
@import 'ember-paper';

$darkblue: #1d157d;
$seagreen: #00A99D;
$lightgreen: #76b041;
$lightyellow: #ffc914;
$babyblue: #5bc0eb;
$neutralblue: #8ea4d2;
$lightred: #b74f6f;

html {
  font-size: 16px;
}

#left-weight {
  background-color: blue;
  left: 0;
}

#right-weight {
  background-color: red;
  right: 0;
}

.bench__weight {
  height: 4rem;
  width: 4rem;
  border-radius: 2rem;
  position: absolute;
}

#bench-press {
  position: relative;
  top: 20rem;
}

#connecting-line {
  background-color: green;
  height: 100vh;
  width: 100vw;

  line {
    stroke: red;
    stroke-width: 1rem;
  }
}

// FRONT PAGE
.front {
  background-color: $seagreen;
  color: white;
  height: 100vh;
}

.front__logo {
  font-size: 5rem;
  text-align: center;
  font-family: "Tahoma";
}

.front__button {
  background-color: $babyblue;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  height: 5rem;
  margin-top: 6rem;
  padding: 1rem;
  &:active {
    background-color: white;
  }
}

// CALIBRATION PAGE
.connection {
  background-color: #f0c808;
  height: 100vh;
}

.connection__title {
  color: red;
  font-size: 2rem;
  font-family: 'Tahoma';
}

.connection__title--success {
  color: white;
}

.connection__icon {
  color: red;
  font-size: 4rem;
  margin-top: 2rem;
  width: 30vw;
  text-align: center;
}

.connection__icon--success {
  color: white;
}

