<div id='bicep-curl' class='layout-row'>
  <div class='left-window flex-50'>
    <div class='pitch-window'>
      <div class='pitch__error'>
        {{#if satoriErrors.pitchError}}
          Try a slower pace
        {{/if}}
      </div>
      <div class='gauge'>
        <div class='frame'>
          <span class='pointer' style={{computedPitch}}>
            <span class='pointer-cap'></span>
          </span>
          <span class='scale'></span>
        </div>
      </div>
    </div>
  </div>

  <div class='layout-column right-window flex-50'>
    <div class='yaw-window flex-50'>
      <div class='yaw__error'>
        {{#if satoriErrors.yawError}}
          Keep your elbow steady
        {{/if}}
      </div>
      <div class='yaw__gauge'>
        <div class='yaw__frame'>
          <span class='yaw__pointer' style={{computedYaw}}>
            <span class='yaw__pointer-cap'></span>
          </span>

          <span class='yaw__scale'></span>
        </div>
      </div>
    </div>

    <div class='roll-window flex-50'>
      <div class='roll__error'>
        {{#if satoriErrors.rollError}}
          Keep your forearm level
        {{/if}}
      </div>
      <div class='roll__gauge'>
        <div class='roll__frame'>
          <span class='roll__pointer' style={{computedRoll}}>
            <span class='roll__pointer-cap'></span>
          </span>

          <span class='roll__scale'></span>
        </div>
      </div>
    </div>
  </div>
</div>
