{{log currentAngle}}
<div id='bicep-curl'>
  <div class='gauge'>
    <div class='frame'>
      <span class='pointer' style={{computedAngle}}>
        <span class='pointer-cap'></span>
      </span>
      <span class='scale'></span>
    </div>
  </div>
</div>

