<div class='connection layout-column layout-align-center-center'>
  {{#if doneConnecting}}
    <h1 class='connection__title connection__title--success'>Connected!</h1>
  {{else}}
    <h1 class='connection__title'>Connecting...</h1>
  {{/if}}

  {{#liquid-if doneConnecting class='animation-transition'}}
    {{fa-icon 'check'
        class='connection__icon connection__icon--success'}}
  {{/liquid-if}}

  {{#unless doneConnecting}}
    {{fa-icon 'spinner'
        class='connection__icon'
        spin=true}}
  {{/unless}}

  {{outlet}}
</div>
