<div class='front layout-column'> 
  <header class='front__header layout-row layout-align-center-center'>
    <h1 class='header__text'>
      tknk.ly.io
    </h1>
  </header>

  <div class='front__carousel layout-row layout-align-center-center flex'>
    {{fa-icon 'chevron-left'
        size='3'
        click=(action 'previousExercise')}}
    {{#liquid-bind currentIndex class='carousel-animation' as |currentIndex|}}
      {{exercise-tile
          exercise=currentExercise}}
    {{/liquid-bind}}

    {{fa-icon 'chevron-right'
        size='3'
        click=(action 'nextExercise')}}
  </div>

  <button class='front__button' {{action 'goToExercise'}}>
    Start Workout
  </button>
</div>
