<div class='front layout-column layout-align-center-center'>
  <h1 class='front__logo'>
    tknk.ly
  </h1>

  {{#link-to 'calibration'}}
    <button class='front__button'>
      Start Workout
    </button>
  {{/link-to}}

  {{outlet}}
</div>
